* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: #333333;
}

.whiteboard {
  width: 1000px;

  canvas {
    background-color: white;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;

    width: 1000px;

    &--clearbtn {
      width: 100px;
      height: 45px;

      cursor: pointer;
    }

    &--colors {
      display: grid;

      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 5px;

      div {
        position: relative;

        width: 20px;
        height: 20px;

        cursor: pointer;

        &.selected {
          &::before {
            position: absolute;
            top: 1px;
            left: 9px;

            width: 2px;
            height: 18px;

            content: "";
            transform: rotate(-45deg);

            backdrop-filter: invert(100%) brightness(50%);
          }

          &::after {
            position: absolute;
            top: 1px;
            left: 9px;

            width: 2px;
            height: 18px;

            content: "";
            transform: rotate(45deg);

            backdrop-filter: invert(100%) brightness(50%);
          }
        }
      }
    }

    &--thickness {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 10px;
      div {
        cursor: pointer;

        border-radius: 50%;
        background-color: white;

        &.selected {
          background-color: red;
        }
      }
    }
  }
}
